.nav {
     color: gray;
     font-family: 'Crimson Text', serif;
}
body{
    background-image: url("squares.png");
    min-height: 300px;
    margin-bottom: 100px;
}
header{
    background: white;
}
#Name{
    background: #497bbde8;
    position: relative;
    padding: 10px;
    margin: auto;
    border: 2px solid #cccccc;
    width: 450px;
    height: 70px;
    text-align: center;  
}
h1, h2, h3, p{
    font-family: 'Crimson Text', serif;
}
h1{
    color: white;
    margin-bottom: 5px;
}
h2{
    border-bottom: 2px solid rgb(173, 173, 173);
}
#about{
    color: #497bbde8;
    padding: 10px;
}
.mycontainer{
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    max-width: 960px;
    border: 1px solid rgb(221, 219, 219);
}
.mybutton{
    background-color: #497bbde8;
    border: #497bbde8;
    font-family: 'Crimson Text', serif;
}
#resumebutton{
    background-color: #497bbde8;
    border: #497bbde8;
    font-family: 'Crimson Text', serif;
}
.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-48%);
    background-color: #497bbde8;
    width: 90%;
    padding: 2%;
    text-align: center;
    color: white;
  }
  .img-fluid{
      border: 2px solid rgba(211, 209, 209, 0.589);
      margin: 5px 5px;
  }
#sticky-footer{
border-top: 3px solid #497bbde8;
position: fixed;
bottom: 0;
width: 100%;
}
div.contactpage{
  text-align: center;
}